*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif,
    
}

body{
    background: rgb(144,179,212);
    background: linear-gradient(87deg, rgb(12, 100, 184) 0%, rgb(1, 29, 64) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

}
.new{
    background-size: 100%;
    width: 100%;
    position:static;
    overflow: hidden;
}