*{
    text-decoration: none;
}


.Footerr{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;

}

.Logoo{
    font-family: "Anton";
    color: aliceblue;
    
}

.elements{
    display: flex;
    gap: 10px;
}

.elem{
    font-family: "Poppins";
    font-size: 10px;
    color: white;
}